<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="5078pepeizq.EpicGamesTiles" Publisher="CN=C91088FC-231C-4E13-86D1-5F9658173DA7" Version="2.1.14.0" />
  <mp:PhoneIdentity PhoneProductId="028a52c9-68ac-4a09-8593-dc237e400f9d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Epic Games Tiles</DisplayName>
    <PublisherDisplayName>pepeizq's apps</PublisherDisplayName>
    <Logo>Assets\Logos\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Epic_Games_Tiles.App">
      <uap:VisualElements DisplayName="Epic Games Tiles" Square150x150Logo="Assets\Logos\Square150x150Logo.png" Square44x44Logo="Assets\Logos\Square44x44Logo.png" Description="https://pepeizqapps.com/" BackgroundColor="#2a2a2a">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Logos\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Logos\Wide310x150Logo.png" ShortName="Epic Games Tiles" Square310x310Logo="Assets\Logos\LargeTile.png" Square71x71Logo="Assets\Logos\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logos\SplashScreen.png" BackgroundColor="#2a2a2a" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>